<div class="container-fluid">
  <div class="row ">
    <div class="col-8 left-panel"></div>
    <div class="col-4 right-panel animated fadeIn p-5">
      <h1 class="p-5 text-center">EXCEL FORTE</h1>
      <!-- Login form -->
      <form [formGroup]="resetForm">
        <p class="h5 text-center mb-5">Reset Password</p>

        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="text" formControlName="defaultFormEmail" id="defaultForm-email" class="form-control" mdbInputDirective>
          <label for="defaultForm-email">Your email</label>
        </div>

        <div class="text-center my-5">
          <input type="submit" mdbBtn color="default" sclass="waves-light" mdbWavesEffect value="Reset Password">
        </div>
        <div class="text-center">
          <a class="pull-left" routerLink="/login">Already have Account?</a>
        </div>
        <div class="text-center">
          <a class="pull-right" routerLink="/login">Create an Account?</a>
        </div>
      </form>
      <!-- Login form -->
    </div>
  </div>
</div>
