/* You can add global styles to this file, and also import other style files */
@import 'assets/toastr.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.modal-open .modal {
  overflow-y: auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.select-wrapper+label {
  top: -13px !important;
}

.first-section {
  padding: 0px 20px;

  div > mdb-autocomplete > div.md-form {
    margin-bottom: 0rem !important;
    margin-top: 1rem !important;
  }
}

.mdb-autocomplete-clear{
  display: none;
}
