<div style="height: 100px"></div>
<div class="container-fluid px-5">
  <div class="row">
    <div class="col-md-1"></div>
    <div [ngClass]="{'col-md-5 col-sm-10' : showRightPanel, 'col-md-10 col-sm-10': !showRightPanel}">
      <div class="card" style="min-height:calc(80vh);max-height: 600px; overflow-y:auto ">
        <mdb-card-header>
          <button type="button" mdbBtn color="teal" class="relative waves-light" (click)="openModal()" mdbWavesEffect
            size="sm">
            <i class="fa fa-plus-circle mr-2"></i>Add Task</button>

          <button type="button" mdbBtn color="teal" outline="true" class="relative waves-light" mdbWavesEffect size="sm">
            <i class="fa fa-plus-circle mr-2"></i>Add Service</button>
          <!-- <a mdbBtn floating="true" size="sm" color="teal" mdbWavesEffect mdbTooltip="Change view" placment="top"
                        class="pull-right">
                        <mdb-icon icon="list-alt"></mdb-icon>
                    </a> -->
        </mdb-card-header>
        <!-- <mdb-card-body > -->
        <table class="table table-hover">
          <tbody>
            <ng-container *ngIf="taskList.length > 0">
              <tr *ngFor="let item of taskList; let i=index;" (click)="editTask(item)">
                <td>{{(i+1)}}</td>
                <td>{{item.taskname}}</td>
                <td>{{item.compname}}</td>
                <td>{{item.servname}}</td>
                <td>{{item.user}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <!-- </mdb-card-body> -->
      </div>
    </div>
    <div class="col-md-5" *ngIf="showRightPanel">
      <div class="card" style="min-height:calc(60vh); max-height:600px; overflow-y:auto">
        <mdb-card-header>
          <button type="button" mdbBtn color="teal" outline=true size="sm" class="relative waves-light" mdbWavesEffect>
            <mdb-icon icon="check" class="mr-1"></mdb-icon>Mark as Complete
          </button>
          <div class="pull-right">
            <!--mdbTooltip="Attachmet"-->
            <a mdbBtn floating="true" size="sm" color="teal" mdbWavesEffect placment="bottom" (click)="fileInput.click()">
              <mdb-icon icon="paperclip"></mdb-icon>
            </a>
            <input type="file" style="display:none" #fileInput (change)="onSelectedFile($event)">
            <a mdbBtn floating="true" size="sm" color="teal" mdbWavesEffect placment="bottom" (click)="addSubtask()">
              <mdb-icon icon="line-chart"></mdb-icon>
            </a>
            <a mdbBtn floating="true" size="sm" color="teal" mdbWavesEffect placment="bottom">
              <mdb-icon icon="link"></mdb-icon>
            </a>
            <a mdbBtn floating="true" size="sm" color="teal" mdbWavesEffect placment="bottom" (click)="save()">
              <mdb-icon icon="save"></mdb-icon>
            </a>
            <!-- <a mdbBtn
              floating="true" size="sm" color="teal" mdbWavesEffect mdbTooltip="Like" placment="bottom">
                            <mdb-icon icon="thumbs-o-up"></mdb-icon>
                        </a> -->
            <a mdbBtn floating="true" size="sm" color="danger" mdbWavesEffect placment="bottom" (click)="showRightPanel = !showRightPanel">
              <mdb-icon icon="times"></mdb-icon>
            </a>
          </div>
        </mdb-card-header>
        <mdb-card-body>
          <form [formGroup]="taskForm">
            <div class="row mx-3" style="height:450px; overflow-y:auto">
              <div class="col-md-3" *ngFor="let dbfile of dbFilesList; let index = index">
                <p  (click)="openFileinTarget(dbfile)"> <small>{{dbfile.name.length > 10 ? dbfile.name.substr(0,10) :
                  dbfile.name}} </small><span aria-hidden="true" (click)="removeFilesFromDb(index)" style="cursor: pointer;">&times;</span></p>
              </div>
              <div class="col-md-3" *ngFor="let file of fileNamesArray; let i = index">
                <p><small>{{file}}</small> <span
                    aria-hidden="true" (click)="removeFiles(i)" style="cursor: pointer;">&times;</span></p>
              </div>
              <div class="col-md-12">
                <div class="error" *ngIf="istaskExists" style="color: red; font-size: 12px; margin-bottom: 20px;">*
                  {{errorMessage}}</div>
              </div>

              <div class="col-md-4">
                <div class="md-form  mt-3">
                  <mdb-select id="form2" [options]="companyList" data-error=" " data-success=" " class="colorful-select dropdown-default select-wrapper"
                    formControlName="companyid">
                  </mdb-select>
                  <label for="form2">Company</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form  mt-3">
                  <mdb-select id="form3" [options]="serviceList" data-error=" " data-success=" " class="colorful-select dropdown-default select-wrapper"
                    formControlName="serviceid">
                  </mdb-select>
                  <label for="form3">Service</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form  mt-3">
                  <mdb-select id="form4" [options]="userList" data-error=" " data-success=" " class="colorful-select dropdown-default select-wrapper"
                    formControlName="userid">
                  </mdb-select>
                  <label for="form4">User</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form">
                  <mdb-autocomplete [label]="'Task Name'" name="autocomplete" initialValue="'Task Name'" maxlength="90"
                    formControlName="taskname" autocomplete="off" data-success=" " data-error=" " [datasource]="dataService"
                    [minSearchLength]="1">
                  </mdb-autocomplete>
                </div>
              </div>
              <div class="col-md-6"></div>
              <div class="col-sm-4">
                <div class="md-form">
                  <input mdbInputDirective autocomplete="off" id="form1" class="form-control" type="date"  data-date-format="DD/MM/YYYY"
                    formControlName="startdate" data-success=" " data-error=" " useValueAsDate>
                  <label for="form1" class="">Start Date </label>

                  <!-- <mdb-date-picker onkeydown="return false;" [options]="myDatePickerOptions" name="mydate" [selector]="0"
                  [label]="'Start Date'" [placeholder]="'Selected date'" [(ngModel)]="date1" required></mdb-date-picker> -->
                </div>
              </div>
              <div class="col-sm-4">
                <div class="md-form">
                  <input mdbInputDirective autocomplete="off" id="form2" class="form-control" type="date" data-date-format="DD/MM/YYYY"
                    formControlName="duedate" data-success=" " data-error=" " useValueAsDate>
                  <label for="form2" class="">Due Date </label>
                  <!-- <mdb-date-picker onkeydown="return false;" [options]="myDatePickerOptions" name="mydate" [selector]="0"
                  [label]="'Due Date'" [placeholder]="'Selected date'" [(ngModel)]="date2" required></mdb-date-picker> -->
                </div>
              </div>
              <div class="col-sm-4">
                <div class="md-form">
                  <input mdbInputDirective autocomplete="off" id="form3" class="form-control" type="date" data-date-format="DD/MM/YYYY"
                    formControlName="enddate" data-success=" " data-error=" " useValueAsDate>
                  <label for="form3" class="">End Date </label>
                  <!-- <mdb-date-picker onkeydown="return false;" [options]="myDatePickerOptions" name="mydate" [selector]="0"
                  [label]="'End Date'" [placeholder]="'Selected date'" [(ngModel)]="date3" required></mdb-date-picker> -->
                </div>
              </div>
              <div class="col-md-6">
                <div class="">
                    <label for="form7">Description</label>
                  <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInputDirective
                    data-success=" " data-error=" " formControlName="description" maxlength="450"></textarea>

                </div>
              </div>
              <div class="col-md-4">
                <div class="md-form  mt-5">
                  <mdb-select id="form4" [options]="requiringArray" data-error=" " data-success=" " class="colorful-select dropdown-default select-wrapper"
                    formControlName="requiring">
                  </mdb-select>
                  <label for="form4">Requiring</label>
                </div>
              </div>
              <div class="col-md-2">
              </div>
              <div class="col-md-12">
                <div contenteditable="true"  style="border-bottom: 1px solid #ced4da" *ngFor="let subtask of updatedSubTaskArray; let i = index; trackBy:trackByIndex;">
                  <input type="text" maxlength="90" autocomplete="off" [(ngModel)]="subtask.name" [ngModelOptions]="{standalone: true}" style="width:100%; border: none"></div>
              </div>
              <div class="col-md-12 mt-3">
                <p class="" *ngFor="let item of inputMessages">{{item.message}} <small>{{item.date | timeAgo}}</small> </p>
              </div>
            </div>
          </form>
        </mdb-card-body>

      </div>
      <div class="row">
        <div class="col-md-2 mt-1">
          <a mdbBtn floating="true" size="sm" color="dark-green" mdbWavesEffect class="pull-right">
            <p style="padding: 8px;">{{userName}}</p>
          </a>
        </div>
        <div class="col-md-9">
          <div class="mt-3">
            <input mdbInputDirective maxlength="950" autocomplete="off" data-success=" " data-error=" " type="text" id="form17"
              class="form-control test" [(ngModel)]="messageInput" (keydown)="onKeydown($event)">
            <i class="fa fa-paper-plane" style="color:rgb(24, 119, 111);position: absolute;right: 23px; bottom: 23px;"
              (click)="enter($event)"></i>
          </div>
        </div>

        <div class="col-md-6 mt-1">
          <a mdbBtn floating="true" size="sm" color="dark-green" mdbWavesEffect class="pull-right" *ngFor="let item of selectedFollowersList">
            <p style="padding: 8px;">{{item}}</p>
          </a>
        </div>
        <div class="col-md-5">
          <div class="md-form mt-3">
            <mdb-select id="form4" [options]="followList" [(ngModel)]="selectedUserFollowup" data-error=" "
              data-success=" " class="colorful-select dropdown-default select-wrapper" (ngModelChange)="changedFollowers($event)">
            </mdb-select>
            <label for="form4">Follow up</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
