<div style="height: 100px"></div>
<div class="container-fluid px-5">
    <div class="row">
        <div class="col-md-1"></div>
        <div [ngClass]="{'col-md-5' : showRightPanel, 'col-md-10': !showRightPanel}">
            <mdb-card>
                <mdb-card-header>
                    <button type="button" mdbBtn color="teal" class="relative waves-light" (click)="openModal()"
                        mdbWavesEffect size="sm">
                        <i class="fa fa-plus-circle mr-2"></i>Add Task</button>

                    <button type="button" mdbBtn color="teal" outline="true" class="relative waves-light"
                        mdbWavesEffect size="sm">
                        <i class="fa fa-plus-circle mr-2"></i>Add Service</button>
                    <a mdbBtn floating="true" size="sm" color="teal" mdbWavesEffect mdbTooltip="Change view" placment="top" class="pull-right">
                        <mdb-icon icon="list-alt"></mdb-icon>
                    </a>
                </mdb-card-header>
                <mdb-card-body>
                    <table class="table table-hover">
                        <tbody>
                            <ng-container *ngIf="taskList.length > 0">
                                <tr *ngFor="let item of taskList; let i=index;" (click)="editTask(item)">
                                    <td>{{(i+1)}}</td>
                                    <td>{{item.taskName}}</td>
                                    <td>{{item.companyName}}</td>
                                    <td>{{item.serviceName}}</td>
                                    <td>{{item.userName}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-md-5" *ngIf="showRightPanel">
            <mdb-card>
                <mdb-card-header>
                    <button type="button" mdbBtn color="teal" outline=true size="sm" class="relative waves-light"
                        mdbWavesEffect>
                        <mdb-icon icon="check" class="mr-1"></mdb-icon>Mark as Complete
                    </button>
                    <div class="pull-right">
                        <a mdbBtn floating="true" size="sm" color="teal" mdbWavesEffect mdbTooltip="Attachmet" placment="top"
                            (click)="fileInput.click()">
                            <mdb-icon icon="paperclip"></mdb-icon>
                        </a>
                        <input type="file" style="display:none" #fileInput>
                        <a mdbBtn floating="true" size="sm" color="teal" mdbWavesEffect mdbTooltip="Add Chart" placment="top">
                            <mdb-icon icon="line-chart"></mdb-icon>
                        </a>
                        <a mdbBtn floating="true" size="sm" color="teal" mdbWavesEffect mdbTooltip="Merge" placment="top">
                            <mdb-icon icon="link"></mdb-icon>
                        </a>
                        <a mdbBtn floating="true" size="sm" color="teal" mdbWavesEffect mdbTooltip="Like" placment="top">
                            <mdb-icon icon="thumbs-o-up"></mdb-icon>
                        </a>
                        <a mdbBtn floating="true" size="sm" color="danger" mdbWavesEffect mdbTooltip="Close" placment="top"
                            (click)="showRightPanel = !showRightPanel">
                            <mdb-icon icon="times"></mdb-icon>
                        </a>
                    </div>
                </mdb-card-header>
                <mdb-card-body>
                    <div class="row mx-3">
                        <div class="col-md-12">
                            <div class="error" *ngIf="istaskExists" style="color: red; font-size: 12px; margin-bottom: 20px;">*
                                {{errorMessage}}</div>
                        </div>

                        <div class="col-md-4">
                            <div class="md-form  mt-3">
                                <mdb-select id="form2" [options]="companyList" [(ngModel)]="selectedCompany" data-error=" "
                                    data-success=" " class="colorful-select dropdown-default select-wrapper">
                                </mdb-select>
                                <label for="form2">Company</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="md-form  mt-3">
                                <mdb-select id="form3" [options]="serviceList" [(ngModel)]="selectedService" data-error=" "
                                    data-success=" " class="colorful-select dropdown-default select-wrapper">
                                </mdb-select>
                                <label for="form3">Service</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="md-form  mt-3">
                                <mdb-select id="form4" [options]="userList" [(ngModel)]="selectedUser" data-error=" "
                                    data-success=" " class="colorful-select dropdown-default select-wrapper">
                                </mdb-select>
                                <label for="form4">User</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form">
                                <input mdbInputDirective maxlength="150" autocomplete="off" data-success=" " data-error=" "
                                    type="text" id="form16" class="form-control" [(ngModel)]="taskName">
                                <label for="form16">Task Name</label>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-sm-4">
                            <div class="md-form">
                                <mdb-date-picker onkeydown="return false;" [options]="myDatePickerOptions" name="mydate"
                                    [selector]="0" [label]="'Start Date'" [placeholder]="'Selected date'" [(ngModel)]="date1"
                                    required></mdb-date-picker>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="md-form">
                                <mdb-date-picker onkeydown="return false;" [options]="myDatePickerOptions" name="mydate"
                                    [selector]="0" [label]="'Due Date'" [placeholder]="'Selected date'" [(ngModel)]="date2"
                                    required></mdb-date-picker>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="md-form">
                                <mdb-date-picker onkeydown="return false;" [options]="myDatePickerOptions" name="mydate"
                                    [selector]="0" [label]="'End Date'" [placeholder]="'Selected date'" [(ngModel)]="date3"
                                    required></mdb-date-picker>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form">
                                <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control"
                                    mdbInputDirective [(ngModel)]="desc" data-success=" " data-error=" "></textarea>
                                <label for="form7">Description</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="md-form  mt-5">
                                <mdb-select id="form4" [options]="requiringArray" [(ngModel)]="selectedRequiring"
                                    data-error=" " data-success=" " class="colorful-select dropdown-default select-wrapper">
                                </mdb-select>
                                <label for="form4">Requiring</label>
                            </div>
                        </div>
                        <div class="col-md-2">

                        </div>

                        <div class="col-md-4">
                            <div class="md-form  mt-3">
                                <mdb-select id="form4" [options]="userList" [(ngModel)]="selectedUserFollowup"
                                    data-error=" " data-success=" " class="colorful-select dropdown-default select-wrapper">
                                </mdb-select>
                                <label for="form4">Follow up</label>
                            </div>
                        </div>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>